/*=======================================
  BASE STYlES
=======================================*/



/* Clear Fix */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

/*=======================================
  MEDIA QUERIES
=======================================*/

@media (min-width: 768px) {
  
  ul li {
    display: inline-block;
    padding: 1rem 0.5rem;
    margin: 0.5rem
  }
  
  #profile-picture {
    float: right;
    width: 40%;
    max-width: 400px;
    margin: 0.2rem 1rem;
    padding: 1rem;
    border: 1px solid #7f7f7f;
    
  }
  
  .about {
    width: 50%;
    text-align: left;
    padding: 1rem;
  }
  
  #skills {
    clear: both;
  }
  
  .example {
    width: 50%;
    display: inline-block;
    margin-left: -4px;
    vertical-align: top;
  }
  
  .small-footer {
    display: none;
  }
  
  .large-footer {
    display: inline;
  }
  
  .right-span a {
    list-style-type: none;
    display: inline;
    margin: 1rem;
  }
  
} /* End @media (min-width: 768px)*/

@media (min-width: 1024px) {
  
  #name {
    float: left;
    padding: .8rem;
    margin: 0.5rem;
  }
  
  .nav{
    display: inline-block;
    float: right;
  }
  
  .example {
    width: 30%;
    margin: auto;
  }
  
  #skills,
  #contact {
    width: 75%;
  }

}/* End @media (min-width: 1024px)*/

