/* Footer Styles */

footer {
  @extend %clearfix;
}

.left-span {
  @include span(
    $font-weight: bold,
    $margin: 1rem,
    $float: left);
}

.right-span {
  @include span(
    $font-weight: bold, 
    $margin: 1rem, 
    $float: right);
}

 .right-span a {
    @media #{$brk-narrow} {
      list-style-type: none;
      display: inline;
      margin: 1rem;
    }
  }

.large-footer {
  display: none;
  
  @media #{$brk-narrow} {
    display: inline;
  }
}

.small-footer {
  @media #{$brk-narrow} {
    display: none;
  }
}
