/* Footer Styles */

.left-span {
  @include span(
    $font-weight: bold,
    $margin: 1rem,
    $float: left);
}

.right-span {
  @include span(
    $font-weight: bold, 
    $margin: 1rem, 
    $float: right);
}

.large-footer {
  display: none; 
}
