/* Header Styles */

#name {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}


#portfolio {
  background-color: antiquewhite;
  padding-top: 1rem;
}

#profile-picture {
  width: 320px;
}

#skills,
#contact {
  margin: 4rem auto;
}

#skills {
  font-family: Kalam;
  color: tomato;
}

#contact {
  width: 70%;
}
