/* Header Styles */

#name {
  @extend %bold;
  @extend %font-size;
  padding: 0.5rem 0;
}


#portfolio {
  background-color: antiquewhite;
  padding-top: 1rem;
}

#profile-picture {
  width: 320px;
}

#contact {
  @extend %position;
  width: 70%;
}
