/* Link Styles */

a {
  @include font (
    $font-size: 1rem, 
    $color: $tundora);
  text-decoration: none;
  &:hover {
  @include font (
    $color: $salmon);
  text-decoration: underline;
  }
  &:focus {
  @include bg-color (
    $bg-color: $skyblue);
  }
}