/* List Styles */

ul {
  list-style-type: none;
}

.skillset li {
  border: 1px solid #7f7f7f;
}

nav li,
.skillset li {
  @extend %position;
  @extend %bold;
  @extend %font-size;
  padding: 1rem;
  background-color: #fff;
}
