/* List Styles */

ul {
  @extend %center;
  list-style-type: none;
}

nav li,
.skillset li {
  @include bg-color(
    $bg-color: $white);
  @extend %position;
  @extend %bold;
  @extend %font-size;
  padding: 1rem;
  border: 1px solid $gray;
}
