/* Navigaiton Styles */

nav {
  @extend %clearfix;
  & li {
    @media #{$brk-wide} {
      display: inline-block;
    }
  }
}

ul li {
  @include bg-color(
    $bg-color: $white);
  @extend %position;
  @extend %bold;
  @extend %font-size;
  padding: 1rem;
  border: 1px solid $gray;
}

.nav {
  @media #{$brk-wide}{
    float: right;
    margin: 0;
  }
}