/* Base Styles */


* {
  padding: 0;
  margin: 0;
}

body {
  @include font (
    $color: $tundora);
  @include bg-color (
    $bg-color: $alabaster);
  text-align: center;
  font-family: $stack-sans-serif;
}

nav {
  @include bg-color (
    $bg-color: $skyblue);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}