
/// Descriptive Color variables

$alabaster: #fafafa;

$champagne: #faebd7;

$gray: #7f7f7f;

$skyblue: #76d7ea;
$salmon: #ff8c69;

$persimmon: #ff6347;
$tundora: #4a4a4a;

$white: #fff;

// Font stacks

$stack-sans-serif: 'Lato', sans-serif;
$stack-serif: 'Kalam', serif;